@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Light-red-rgba: rgb(255, 87, 87, 0.1);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Orangey-yellow-rgba: hsl(39, 100%, 56%, 0.1);
    --Green-teal: hsl(166, 100%, 37%);
    --Green-teal-rgba: rgb(0, 189, 145, 0.1);
    --Cobalt-blue: #1125d4;
    --Cobalt-blue-rgba: rgb(17, 37, 212, 0.1);
    /* Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);/* background */
    --Light-royal-blue: hsl(241, 81%, 54%);/* background */
    --Violet-blue: hsla(256, 72%, 46%, 1);/* circle */
    --Persian-blue: hsla(241, 72%, 46%, 0);/* circle */
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --Dark-gray-blue-rgba: rgb(48, 59, 90, 0.6);

    --fs-xs: 0.875rem;
    --fs-s: 1rem;
    --fs-m: 1.125rem;
    --fs-l: 1.25rem;
    --fs-xl: 3.75rem;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-s);
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}
.container {
    background-color: var(--White);
    display: grid;
    grid-template-columns: minmax(auto, 425px);
    box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, 0.1);
}
.container .result {
    color: var(--Light-lavender);
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    display: grid;
    place-items: center;
    text-align: center;
    padding: 3rem;
    padding-top: 1.5rem;
    -webkit-border-radius: 0 0 1.5rem 1.5rem;
    -moz-border-radius: 0 0 1.5rem 1.5rem;
    -ms-border-radius: 0 0 1.5rem 1.5rem;
    -o-border-radius: 0 0 1.5rem 1.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
}
.result_header {
    font-size: var(--fs-m);
}
.result_score {
    width: 150px;
    height: 150px;
    background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 1.5rem 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.score_point {
    font-size: var(--fs-xl);
    font-weight: 400;
    color: var(--White);
    line-height: 60px;
}
.score_of {
    font-size: var(--fs-xs);
}
.result_sb {
    color: var(--White);
    font-weight: 700;
    margin-bottom: .5rem;
}

.container .summary {
    color: var(--Dark-gray-blue);
    padding: 1.5rem;
}
.summary_header {
    font-size: var(--fs-l);
}
ul {
    display: grid;
    gap: 1rem;
    margin: 1.5rem 0;
}
ul li{
    background: hsla(39, 100%, 56%, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    border-radius: .3rem;
}
ul li:nth-child(1){
    color: var(--Light-red);
    background: var(--Light-red-rgba);
}
ul li:nth-child(2){
    color: var(--Orangey-yellow);
    background: var(--Orangey-yellow-rgba);
}
ul li:nth-child(3){
    color: var(--Green-teal);
    background: var(--Green-teal-rgba);
}
ul li:nth-child(4){
    color: var(--Cobalt-blue);
    background: var(--Cobalt-blue-rgba);
}
li .icon_container {
    display: flex;
    align-items: center;
    gap: .75rem;
}
.summary__score-point {
    color: var(--Dark-gray-blue);
    font-weight: 800;
    margin-right: .25rem;
}
.summary .summary__score{
    color: hsla(224, 30%, 27%, .5);
}
button {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    padding: .75rem 0;
    font-size: var(--fs-m);
    width: 100%;
    outline: none;
    color: white;
    background-color: var(--Dark-gray-blue);
    border: none;
    cursor: pointer;
    border-radius: 1.5rem;
}
button:hover{
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}

@media (min-width: 750px) {
    main {
        font-size: var(--fs-m);
    }
    .container {
        grid-template-columns: minmax(auto, 350px) minmax(auto, 350px);
        grid-template-rows: 1fr;
        border-radius: 1.5rem;
    }
    .container .result {
        border-radius: 1.5rem;
        padding: 3rem;
    }
    .container .summary {
        padding: 3rem;
    }
}
.attribution { 
    font-size: var(--fs-xs); 
    text-align: center; 
    margin-top: -2rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}